.menu-main {
    list-style: none;
}

.menu-main > li {
    display: inline-block;
    margin: auto 10px;
}

.menu-main > li > a {
    color: black;
    text-decoration: none;
}

.menu-main > li > a:hover {
    text-decoration: underline;
}

.menu-main > li > a.active {
    color: blueviolet;
    font-weight: bold;
}